 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
 
        body {
            font-family: Arial;
            color: #222;
            line-height: 1.6;
        }